

.user-panel {
    /* border: solid 1px green; */
    display: flex;
        justify-content: center;
} 
ul{
    list-style-type: none;
}
.profile-img {
    border: solid 1px black;
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}.user-name{
border: solid 1px black;
    margin: 0.5rem;
    padding: 2rem;
    display: flex;
    height: 6rem;
    width: 60vw;
    justify-content: space-between;
    align-items: center;

}
.bio{
    border: solid 1px black;
    margin: 1rem;
        margin: 0.5rem;
            padding: 2rem;
}
.post-body{
    border: solid 1px black;
        margin: 0.5rem;
            padding: 2rem;
}