body {
  position: relative;
  color: aliceblue;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/bg_neon1.webp');
  filter: blur(2px);
  z-index: -1;
}

p,
a {
  color: aliceblue;
  text-shadow: -3px 1px 8px rgba(192, 181, 181, 0.55);
  text-decoration: none;
}

.user-tab-bg {
  background: linear-gradient(90deg, #1cb5e099 0%, #0008518e 100%);
}

.user-panel {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}

.profile-img {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 2rem;
  border: 3px solid transparent;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 10rem;
}

.user-name {
  margin: 0.5rem;
  padding: 2rem;
  display: flex;
  height: 6rem;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}

.bio {
  border: solid 1px black;
  margin: 1rem;
  margin: 0.5rem;
  padding: 2rem;
}

.post-body {
  border: solid 1px black;
  margin: 0.5rem;
  padding: 2rem;
}

.p {
  display: flex;
}

.p p {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .p p {
    text-align: center;
  }

  .user-name {
    padding: 0;
  }
}

.border-rounded-right {
  border: 1.2px solid transparent;
  border-image: linear-gradient(90deg, rgb(234, 234, 234), #f000) 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.icon-blogy {
  width: 2rem;
  margin-right: 1rem;
}
