body {
  background: radial-gradient(ellipse at center, #bea4a4 0%, #63b5ceb0 100%);
}

.user-panel {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}

.profile-img {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 2rem;
  border: 3px solid transparent;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 10rem;
  padding: 0.5rem;
}

.user-name {
  margin: 0.5rem;
  padding: 2rem;
  display: flex;
  height: 6rem;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}

.bio {
  border: solid 1px black;
  margin: 1rem;
  margin: 0.5rem;
  padding: 2rem;
}

.post-body {
  border: solid 1px black;
  margin: 0.5rem;
  padding: 2rem;
}

.p {
  display: flex;
}

.p p {
  display: flex;
  align-items: flex-end;
}
